<span lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a th:href="@{/}"><span>SAFETY CAR</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="../static/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li><a th:href="@{/}">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a th:href="@{/offers/simulate}">Simulate Offer</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a th:href="@{/requests/new}" sec:authorize="hasAuthority('ROLE_USER')" id="policy">My Offer</a></li>
          <li><a th:href="@{/users/requests}" sec:authorize="hasAuthority('ROLE_USER')">My Requests</a></li>
          <li><a th:href="@{/users/profile}" sec:authorize="isAuthenticated()">My Profile</a></li>
          <li><a th:href="@{/users}" sec:authorize="hasAuthority('ROLE_ADMIN')">All Users</a></li>
          <li><a th:href="@{/requests}" sec:authorize="hasAuthority('ROLE_ADMIN')">All Requests</a></li>
          <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()" id="login">Log in</a></li>
          <li><a th:href="@{/register}" sec:authorize="!isAuthenticated()">Sign up</a></li>
          <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()">Log out</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->    <!-- header-end -->

</span>