<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Policy Request</title>
</head>
<body id="create-request">

<th:block th:include="~{fragments/header}"></th:block>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- ======= Contact Section ======= -->
<section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div th:if="${offer} == null" class="container">
        <p>You don't have created offer.</p>
        <p>First you have to simulate offer.</p>
        <a th:href="@{/offers/simulate}">Simulate offer</a>
    </div>
    <div th:unless="${offer} == null" class="container">
        <div class="row">
            <div class="col-lg-6">
                <form th:action="@{/requests/new}" th:object="${offer}" method="get" role="form" class="info-box">
                    <div class="form-group">
                        <span><b>Car brand: </b></span>
                        <span th:value="${offer.car.carBrand.name}" th:text="${offer.car.carBrand.name}" type="text">Mazda</span>
                    </div>
                    <div class="form-group">
                        <span><b>Car model: </b></span>
                        <span th:value="${offer.car.model}" th:text="${offer.car.model}" type="text">MAZDA 6</span>
                    </div>
                    <div class="form-group">
                        <span><b>Cubic capacity: </b></span>
                        <span th:value="${offer.cubicCapacity}" th:text="${offer.cubicCapacity}" type="text">1000</span>
                    </div>
                    <div class="form-group">
                        <span><b>First registration date: </b></span>
                        <span th:value="${offer.firstRegistrationDate}" th:text="${offer.firstRegistrationDate}"
                              type="text">1999-05-24</span>
                    </div>
                    <div class="form-group">
                        <span><b>Driver age: </b></span>
                        <span th:value="${offer.driverAge}" th:text="${offer.driverAge}" type="text">34</span>
                    </div>
                    <div class="form-group">
                        <span><b>Accidents last 12 months: </b></span>
                        <span th:if="${offer.accidentsLast12Months==true}">
                            <span th:value="${offer.accidentsLast12Months}"
                                  th:text="#{offer.accidentsLast12Months.true}" type="text"></span>
                        </span>
                        <span th:unless="${offer.accidentsLast12Months==true}">
                            <span th:value="${offer.accidentsLast12Months}"
                                  th:text="#{offer.accidentsLast12Months.false}" type="text"></span>
                        </span>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="form-group" id="total">
                        <span><b><u>Total premium: </u></b></span>
                        <span th:value="${offer.totalPremium}" th:text="${offer.totalPremium}" type="text">500</span>
                        <span> BGN</span>
                    </div>
                </form>
            </div>

            <div class="col-lg-6">
                <form th:action="@{/requests/new}" th:object="${requestDto}" method="post" role="form" class="info-box"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="start-date"><b>Start Date</b></label>
                        <input th:field="*{startDate}" type="date" placeholder="YYYY-MM-DD" value="" min="2020-10-01"
                               max="2020-12-31" class="form-control" name="subject" id="start-date"/>
                        <label class="error" th:errors="*{startDate}"></label>
                    </div>
                    <div class="form-group">
                        <label for="phone"><b>Phone number</b></label>
                        <input th:field="*{phone}" type="text" class="form-control" id="phone" placeholder="Phone number"/>
                        <label class="error" th:errors="*{phone}"></label>
                    </div>
                    <div class="custom-file">
                        <label for="certificate"><b>Vehicle Registration Certificate</b></label>
                        <input type="file" th:field="*{vehicleRegistrationCertificate}" id="certificate">
                        <label class="error" th:errors="*{vehicleRegistrationCertificate}"></label>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label for="address"><b>Postal Address</b></label>
                        <input th:field="*{postalAddress}" type="text" class="form-control" id="address" placeholder="Postal Address..."/>
                        <label class="error" th:errors="*{postalAddress}"></label>
                    </div>
                    <div class="button" id="request-btn">
                        <button class="btn btn-primary" type="submit">Request policy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
</section><!-- End Contact Section -->


<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>