<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Offer</title>
</head>
<body>

<th:block th:include="~{fragments/header}"></th:block>
<br>
<br>
<br>
<br>
<!-- ======= Why Us Section ======= -->
<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 video-box d-flex flex-column justify-content-center p-5">
                <img src="/img/calc.jpg" id="img-calculate" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
                <form th:action="@{/offers/new}" th:object="${offer}" method="get" role="form"
                      class="info-box">
                    <div class="form-group">
                        <label for="validationCustom10"><b>Car brand</b></label>
                        <span th:value="${offer.car.carBrand.name}" th:text="${offer.car.carBrand.name}" type="text"
                              class="form-control" id="validationCustom10"></span>
                    </div>
                    <div class="form-group">
                        <label for="validationCustom00"><b>Car model</b></label>
                        <span th:value="${offer.car.model}" th:text="${offer.car.model}" type="text"
                              class="form-control" id="validationCustom00"></span>
                    </div>
                    <div class="form-group">
                        <label for="validationCustom01"><b>Cubic capacity</b></label>
                        <span th:value="${offer.cubicCapacity}" th:text="${offer.cubicCapacity}" type="text"
                              class="form-control" id="validationCustom01"></span>
                    </div>
                    <div class="form-group">
                        <label for="validationCustom04"><b>First registration date</b></label>
                        <span th:value="${offer.firstRegistrationDate}" th:text="${offer.firstRegistrationDate}"
                              type="date" class="form-control" id="validationCustom04"></span>
                    </div>
                    <div class="form-group">
                        <label for="validationCustom05"><b>Driver age</b></label>
                        <span th:value="${offer.driverAge}" th:text="${offer.driverAge}" type="text"
                              class="form-control" id="validationCustom05"></span>
                    </div>
                    <div class="form-group">
                        <label><b>Accidents last 12 months</b></label>
                        <div th:if="${offer.accidentsLast12Months==true}">
                            <span th:value="${offer.accidentsLast12Months}" th:text="#{offer.accidentsLast12Months.true}"
                                  type="text" class="form-control"></span>
                        </div>
                        <div th:unless="${offer.accidentsLast12Months==true}">
                            <span th:value="${offer.accidentsLast12Months}" th:text="#{offer.accidentsLast12Months.false}"
                                  type="text" class="form-control"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="total-premium"><b><u>The expected premium calculated is:</u></b></label>
                        <span th:value="${offer.totalPremium}" th:utext="${offer.totalPremium}" id="total-premium"></span>
                        <span> BGN</span>
                    </div>
                    <br>
                    <div class="button">
                        <a class="btn btn-primary" type="submit" th:href="@{/requests/new}">Continue to create policy</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Why Us Section -->

<th:block th:include="~{fragments/footer}"></th:block>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        crossorigin="anonymous"></script>
<script src="/js-ajax/carModels.js"></script>

</body>
</html>