<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Policy Request</title>
</head>
<body id="create-request">

<th:block th:include="~{fragments/header}"></th:block>
<br>
<br>
<br>
<br>

<!-- ======= Contact Section ======= -->
<section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">

        <h2 class="header" th:text="#{requests.title}">Requests</h2>

        <form th:action="@{/requests}" th:object="${filterRequestsDto}" method="post">
            <div class="form-group">
                <select th:field="*{statusId}" class="form-group">
                    <option selected th:value="-1">Status...</option>
                    <option th:each="status : ${statuses}" th:value="${status.id}" th:text="${status.value}">
                        Pending
                    </option>
                </select>
                <div class="form-group">
                    <input th:field="*{username}" type="text" class="form-control" th:placeholder="Username...">
                </div>
                <button class="btn btn-primary" type="submit" th:text="Filter"></button>
            </div>
        </form>
        <table class="table table-bordered" id="table-id">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Username</th>
                <th scope="col">Start Date</th>
                <th scope="col">Status</th>
                <th scope="col">Total Premium</th>
                <th scope="col">Change Status</th>
            </tr>
            </thead>
            <tbody>
            <div class="row" th:each="request : ${requests}">
                <tr>
                    <th class="cell" th:text="${request.id}"></th>
                    <th class="cell" th:text="${request.date}"></th>
                    <th class="cell" th:text="${request.userDetails.email}"></th>
                    <th class="cell" th:text="${request.startDate}"></th>
                    <th class="cell" th:text="${request.status.value}"></th>
                    <th class="cell" th:text="${request.offer.totalPremium}">
                    </th>
                    <th class="cell">
                        <a type="button" class="btn btn-primary" th:href="@{/requests/__${request.id}__}">Change
                            Status</a>
                    </th>
                </tr>
            </div>
            </tbody>
        </table>


    </div>
</section><!-- End Contact Section -->


<th:block th:include="~{fragments/footer}"></th:block>
<script src="/js/requestCollapse.js"></script>
</body>
</html>