<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Request Status changed</title>
</head>
<body>
<p>
    Status of request with ID: <a th:text="${requestId}"></a> was changed to <a th:text="${status}"></a>.
</p>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>