<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Email confirmation</title>
</head>
<body>
<h5>Email Confirmation</h5>
<p>
    Please click the link to activate your account.
</p>
<p>
    Simply click
    <a th:href="@{''+${host} + '/confirm_account?token='+ ${token}}"><b>here</b></a>
    to verify your email address.
</p>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>