<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Access Denied</title>
</head>
<body>

<th:block th:include="~{fragments/header}"></th:block>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- ======= Contact Section ======= -->
<section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <h2 class="app-text-access"><b>Access Denied</b></h2>
                <h4 class="app-text-access"><b>You are not authorized to access this resource.</b></h4>
            </div>
        </div>
        <div class="row" id="access">
            <div class="col-lg-3 col-md-6">
                <span id="buttons">
                    <a th:href="@{/login}">Login</a>
                </span>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="buttons">
                    <a th:href="@{/register}">Sign up</a>
                </span>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->

<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>