<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Login</title>
</head>
<body id="login-body">

<th:block th:include="~{fragments/header}"></th:block>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- ======= Why Us Section ======= -->
<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 video-box d-flex flex-column justify-content-center p-5">
                <img src="/img/calc.jpg" id="img-calculate" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                <p>
                    <i th:if="${param.error}" class="error">
                        Wrong username or password.
                    </i>
                    <i th:if="${param.logout}">
                        You have been logged out.
                    </i>
                </p>
                <form th:action="@{/authenticate}" method="post" role="form" class="info-box">
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input type="text" class="form-control" id="username" name="username"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"/>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                        <span class="button">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </span>
                        </div>
                        <div class="col-lg-6">
                        <span id="buttons">
                            <a th:href="@{/register}" id="another-btn">Sign up</a>
                        </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Why Us Section -->

<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>