<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Policy Request</title>
</head>
<body id="create-request">

<th:block th:include="~{fragments/header}"></th:block>
<br>
<br>
<br>

<!-- ======= Contact Section ======= -->
<section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
        <div class="row">
            <div th:each="request : ${requests}">
                <form th:action="@{/users/requests}" th:object="${requests}" method="post" role="form" class="info-box">
                    <div class="form-group">
                        <span><b>Request No: </b></span>
                        <span th:text="${request.id}" type="text">3</span>
                    </div>
                    <div class="form-group">
                        <span><b>Date: </b></span>
                        <span th:text="${request.date}" type="text">2010-03-23</span>
                    </div>
                    <div class="form-group">
                        <span><b>Policy Start Date: </b></span>
                        <span th:value="${request.startDate}" th:text="${request.startDate}"
                              type="text">15.05.2005</span>
                    </div>
                    <div class="form-group" id="total">
                        <span><b><u>Total premium: </u></b></span>
                        <span th:value="${request.offer.totalPremium}" th:text="${request.offer.totalPremium}"
                              type="text">500</span>
                        <span> BGN</span>
                    </div>
                    <div class="form-group" id="total02">
                        <span><b><u>Status: </u></b></span>
                        <span th:value="${request.status.value}" th:text="${request.status.value}"
                              type="text">Status</span>
                    </div>

                    <a type="button" class="btn btn-primary" th:href="@{/requests/__${request.id}__}"
                       sec:authorize="hasAuthority('ROLE_ADMIN')">Change Status</a>

                    <button type="button" class="btn btn-primary collapsible" data-toggle="collapse">More Information
                    </button>

                    <div class="collapse" id="collapseExample">
                        <br>
                        <div class="form-group">
                            <span><b>Vehicle:</b></span>
                        </div>
                        <div class="form-group">
                            <span>Car brand: </span>
                            <span th:value="${request.offer.car.carBrand.name}"
                                  th:text="${request.offer.car.carBrand.name}"
                                  type="text">Mazda</span>
                        </div>
                        <div class="form-group">
                            <span>Car model: </span>
                            <span th:value="${request.offer.car.model}" th:text="${request.offer.car.model}"
                                  type="text">MAZDA 6</span>
                        </div>
                        <div class="form-group">
                            <span>Cubic capacity: </span>
                            <span th:value="${request.offer.cubicCapacity}" th:text="${request.offer.cubicCapacity}"
                                  type="text">1000</span>
                        </div>
                        <div class="form-group">
                            <span>First registration date: </span>
                            <span th:value="${request.offer.firstRegistrationDate}"
                                  th:text="${request.offer.firstRegistrationDate}"
                                  type="text">1999-05-24</span>
                        </div>
                        <div class="form-group" sec:authorize="hasAuthority('ROLE_ADMIN')">
                            <span>Vehicle registration certificate: </span>
                            <a th:href="'data:image/jpeg;base64,' + ${imageUtil.getImgData(request.vehicleRegistrationCertificate)}"
                               class="venobox vbox-item">File</a>
                        </div>
                        <br>
                        <div class="form-group">
                        <span><b>Driver Details:</b></span>
                        </div>
                        <div class="form-group">
                            <span>Driver age: </span>
                            <span th:value="${request.offer.driverAge}" th:text="${request.offer.driverAge}"
                                  type="text">34</span>
                        </div>
                        <div class="form-group">
                            <span>Accidents last 12 months: </span>
                            <span th:if="${request.offer.accidentsLast12Months==true}">
                                <span th:value="${request.offer.accidentsLast12Months}"
                                      th:text="#{offer.accidentsLast12Months.true}" type="text">

                                </span>
                            </span>
                            <span th:unless="${request.offer.accidentsLast12Months==true}">
                                <span th:value="${request.offer.accidentsLast12Months}"
                                      th:text="#{offer.accidentsLast12Months.false}" type="text">
                                </span>
                            </span>
                        </div>
                        <br>
                        <div class="form-group">
                        <span><b>Contacts:</b></span>
                        </div>
                        <div class="form-group">
                            <span>Phone: </span>
                            <span th:value="${request.phone}" th:text="${request.phone}" type="text">0888666333</span>
                        </div>
                        <div class="form-group">
                            <span>Postal Address: </span>
                            <span th:value="${request.postalAddress}" th:text="${request.postalAddress}"
                                  type="text">Hristo Botev Blvd., Sofia</span>
                        </div>
                        <div class="form-group">
                            <span>Email: </span>
                            <span th:value="${request.userDetails.email}" th:text="${request.userDetails.email}"
                                  type="text">test@yahoo.com</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section><!-- End Contact Section -->


<th:block th:include="~{fragments/footer}"></th:block>
<script src="/js/requestCollapse.js"></script>
</body>
</html>