<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Policy Request</title>
</head>
<body id="create-request">

<th:block th:include="~{fragments/header}"></th:block>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- ======= Contact Section ======= -->
<section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">


        <div th:if="${usersDetails.isEmpty()}">
            <h3 class="header" th:text="#{userDetails.emptyTitle}">No Users</h3>
        </div>
        <div th:unless="${usersDetails.isEmpty()}">
            <h2 class="header" th:text="#{userDetails.title}">Users</h2>

            <table class="table table-bordered" id="table-id">
                <thead>
                <tr>
                    <th scope="col" >Email</th>
                    <th scope="col" >First Name</th>
                    <th scope="col" >Last Name</th>
                    <th scope="col" >Requests</th>
                </tr>
                </thead>
                <tbody>
                <div class="row" th:each="userDetails : ${usersDetails}">
                    <tr>
                        <th class="cell" th:text="${userDetails.email}">i.ivanov@yahoo.com</th>
                        <th class="cell" th:text="${userDetails.firstName}">Ivan</th>
                        <th class="cell" th:text="${userDetails.lastName}">Ivanov</th>
                        <th class="cell">
                            <a th:href="@{users/requests/__${userDetails.id}__}" th:text="Requests"></a>
                        </th>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>


    </div>
</section><!-- End Contact Section -->


<th:block th:include="~{fragments/footer}"></th:block>
<script src="/js/requestCollapse.js"></script>
</body>
</html>